#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}

#site-title {
    font-family: 'Comfortaa', cursive;
    font-size: 1.70em;
    margin: 0;
    color: #36454F;
}

.broider {
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAABX0lEQVR4Xu3cQW7CMABFQef+h4Z9hCJbGjCE13X7LE8+G6TmGP1QgYPWio1A8QgC3QD6WDzz1x4Svd/M5emBiw/nE79O7xfoGIHi2b4d9HzAzIrxHb86d+nzCivQ6+cZKN57oIFiAZxroYFiAZxroYFiAZxroYFiAZxrobtB8fn/leuLD/y8Aw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcCw0UC+BcrxlaB+2/kdfNLv8i0ECxAM610ECxAM610ECxAM610ECxAM610ECxAM4tL/R8Pn3pM76cyNH7zXx9Rw8UArhB7xdo77HH+9wAym9w5+DMR/7O9+d3CxSTBopBnzS+QFVHWQEwAAAAAElFTkSuQmCC") 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 56px);
    background-color: #FAF9F6;
    font-size: 28px;
}

#link-container {
    text-align: left;
    display: inline-block;
    margin-left: 350px; /* Adjust as needed */
}

.link-wrapper {
    display: flex;
    justify-content: center;
}

.indent {
    margin-left: 30px;
}

.link {
    display: block;
    font-family: 'Comfortaa', cursive;
    color: #36454F;
    text-decoration: none;
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAABjklEQVR4Xu3WSw6CABTFUNj/ojVOiZE2Xh2VKeWRnDw+59ExFTin0xp2BDpegkADHQuMx7WhgY4FxuPa0EDHAuNxbWigY4HxuDb0D6CPyz1CF+jvsAIVgNc00C/w3l0a6A9Ar4/43S16p34QeuEEerdC4nygAoukgRIl0fRRElgkDZQoiSZQgUXSQImSaPqnFFgkDZQoiSZQgUXSQImSaAIVWCQNlCiJJlCBRdJAiZJoAhVYJA2UKIkmUIFF0kCJkmgCFVgkDZQoiSZQgUXSQImSaAIVWCQNlCiJJlCBRdJAiZJoAhVYJA2UKIkmUIFF0kCJkmgCFVgkDZQoiSZQgUXSQImSaAIVWCQNlCiJJlCBRdJAiZJoAhVYJA2UKIkmUIFF0kCJkmgCFVgkDZQoiSZQgUXSQImSaAIVWCQNlCiJJlCBRdJAiZJoAhVYJA2UKIkmUIFF0kCJkmgCFVgkDZQoiSZQgUXSQImSaAIVWCQNlCiJJlCBRdJAiZJoAhVYJA2UKIkmUIFF0kCJkmie1XoMVYeukfcAAAAASUVORK5CYII=") 28 /  28px / 0 round;
    border-width:  4.5px;
    border-style:  solid;
    padding: 9px; /* add padding to make room for the border */
    display: inline-block; /* make the links take up only as much width as their contents */
    box-sizing: border-box; /* include the padding and border in the link's total width and height */
    margin-bottom: 5px;
    
}