
* {
    margin: 0;
    box-sizing: border-box;
}


/* Existing styles */
#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}

#site-title {
    font-family: "Tiny5", sans-serif;
    font-size: 2.5em;
    font-weight: 175;
    font-style: normal;
    margin: 0;
    color: #1E0422;
}


html, body {
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 56px);
    background-color: #FAF9F6;
    font-size: 28px;
}

#link-container {
    text-align: left;
    display: inline-block;
    margin-left: 350px; /* Adjust as needed */
}

.link-wrapper {
    display: flex;
    justify-content: center;
}

.indent {
    margin-left: 30px;
}

#charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns */
    grid-auto-rows: 500px; 
    gap: 20px; /* Spacing between charts */
    padding: 20px; /* Padding around the grid */
}

.chart {
    background-color: #f9f9f9; /* Optional: for visibility */
    padding: 10px;
    border: 1px solid #ccc; /* Optional: for visibility */
}

.responsive-iframe iframe {
    width: 100%; /* Ensures iframes take full width of the .chart container */
    height: 100%;  /* Optional: Adjust height as necessary */
    border: 0;
}

/* Optional: Media query for larger screens */
@media (min-width: 768px) {
    .responsive-iframe {
        padding-bottom: 0;
        height: 250px; /* Fixed height for larger screens */
    }
}

#main-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

#button-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

button {
    margin-bottom: 20px; /* Adds space below the button */
}

/* Container for the news headline text */
.link-container {
    text-align: left;
    display: inline-block;
}

.link {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #36454F;
    text-decoration: none;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAABjklEQVR4Xu3WSw6CABTFUNj/ojVOiZE2Xh2VKeWRnDw+59ExFTin0xp2BDpegkADHQuMx7WhgY4FxuPa0EDHAuNxbWigY4HxuDb0D6CPyz1CF+jvsAIVgNc00C/w3l0a6A9Ar4/43S16p34QeuEEerdC4nygAoukgRIl0fRRElgkDZQoiSZQgUXSQImSaPqnFFgkDZQoiSZQgUXSQImSaAIVWCQNlCiJJlCBRdJAiZJoAhVYJA2UKIkmUIFF0kCJkmgCFVgkDZQoiSZQgUXSQImSaAIVWCQNlCiJJlCBRdJAiZJoAhVYJA2UKIkmUIFF0kCJkmgCFVgkDZQoiSZQgUXSQImSaAIVWCQNlCiJJlCBRdJAiZJoAhVYJA2UKIkmUIFF0kCJkmgCFVgkDZQoiSZQgUXSQImSaAIVWCQNlCiJJlCBRdJAiZJoAhVYJA2UKIkmUIFF0kCJkmie1XoMVYeukfcAAAAASUVORK5CYII=") 28 /  28px / 0 round;
    border-width: 4.5px;
    border-style: solid;
    padding: 9px; /* Add padding to make room for the border */
    display: inline-block; /* Make the links take up only as much width as their contents */
    box-sizing: border-box; /* Include the padding and border in the link's total width and height */
    margin-bottom: 5px;
}



/* Ensure consistent styling for the response container */
#functionResponse {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
}

/* Custom button styles */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}